*{
    box-sizing: border-box;
     margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
    font-weight: 500;
    font-family: Arial, sans-serif;
}
.logo{
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: relative;
z-index: 1;
}

.header{
    height: 100vh;
    position: relative;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8ef88e03-6f89-4c75-ae51-f8da7d252358/6ac07e5f-07ca-4543-8540-f22edce8bb02/TW-en-20210208-popsignuptwoweeks-perspective_alpha_website_small.jpg")
    no-repeat center center/cover;
    border-bottom: 10px #333 solid;
}
.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
border: none;
outline: none;
border-radius: 4px;
background-color: rgb(255, 28, 28);
color: white;
    margin-left: 147vh;
}
.inner-title{
    text-align: center;
    margin: auto;
    margin-top: 14%;
    color: rgb(201, 214, 225);
}
.inner-text{
    margin-top: 2px;
    text-align: center;
color: rgb(237, 231, 231);
}
.get-start{
    margin-top: 25px;
    text-align: center;
    
}
input{
    padding: 15px;
    border: none;

}
.get-button{
    padding: 15px;
    background-color: red;
    border: none;
    font-size:1rem ;
    color: white;
    border-radius: 2px;
}
.email-form{
    padding: 5px;
    text-align: center;
    color: rgb(232, 226, 226);
}

.showcase {
    border-bottom: 10px solid #333;
    padding: 2rem ;
    
  }

  .showcase-img {
    position: relative;
    z-index: 1;
    margin-left: 60vh;
    bottom: 20px;
    
  }
  
  .showcase-animation {
    position: absolute;
    left: 70px;
    top: 90px;
    z-index: -1;

  }
 
  .inner-title1{
    color: rgb(201, 214, 225);
    position:relative ;
    top: 180px; 
    margin-left: 20px;
    
   
  }
  .inner-text1{
    color: whitesmoke;
position: relative;
top:190px;
margin-left: 20px;

  }
.showcase-img1{
    position: relative;
    right: 100px;
}
.downloading{
    position: absolute;
    width: 60%;
    
}
.inner-title2{
    color: rgb(201, 214, 225);
    text-align: center;
position: relative;
bottom: 200px;
}
.inner-text2{
    color: whitesmoke;
    text-align: center;
    position: relative;
    bottom: 190px;
}

